img{
  width:100%;
}

.column{
  text-align: center;
  color: black;
  background-color: grey;
  width: 82%;
  font-size: xx-large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p{
  text-align: left;
  margin-left: 20%;
  font-family:'spinnaker', sans-serif;
  font-size: large;
}