<div class="page-wrapper">
    <app-header></app-header>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <img src="../assets/img/HARD CIPHER LOGO.png" alt="" class="image">
            <div class="column">
                <p>Why Choose Hardcipher For Your Business</p>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <p style="color: blue; font-size: 28px;">01.</p>
            
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br>
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,<br>
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br>
                It has survived not only five centuries, but also the leap into electronic typesetting, remaining<br>
                essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing<br>
                Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including<br>
                versions of Lorem Ipsum.
            </p>
        </div>
        <br>
        <div class="row">
            <p style="color: blue; font-size: 28px;">02.</p>
            
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br>
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,<br>
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br>
                It has survived not only five centuries, but also the leap into electronic typesetting, remaining<br>
                essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing<br>
                Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including<br>
                versions of Lorem Ipsum.
            </p>
        </div>
        <br>
        <div class="row">
            <p style="color: blue; font-size: 28px;">03.</p>
            
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br>
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,<br>
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br>
                It has survived not only five centuries, but also the leap into electronic typesetting, remaining<br>
                essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing<br>
                Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including<br>
                versions of Lorem Ipsum.
            </p>
        </div>
        <br>
        <div class="row">
            <p style="color: blue; font-size: 28px;">04.</p>
            
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br>
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,<br>
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br>
                It has survived not only five centuries, but also the leap into electronic typesetting, remaining<br>
                essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing<br>
                Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including<br>
                versions of Lorem Ipsum.
            </p>
        </div>
    </div>
    <app-footer></app-footer>
</div>