<!--Footer Starts-->
<div class="footer-wrapper no-pad-tb v2">
    <div class="footer-top-area" >
        <div class="container">
            <div class="row nav-folderized">
                <div class="col-lg-3 col-md-12">
                    <div class="footer-logo">
                        <a href=""> <img src="../../assets/img/footer.png" alt="logo"></a>
                        <div class="company-desc">
                            <p>
                              Hardcipher Pvt Ltd.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                   <div class="footer-content nav">
                   </div>
               </div>
               <div class="col-lg-3 col-md-12">
                <div class="footer-content nav">
                    <h2 class="title">Location</h2>
                </div>
            </div>

                <div class="col-lg-3 col-md-12">
                    <div class="footer-content nav">
                        <h2 class="title">Contact us</h2>
                        <ul class="list footer-list">
                            <li>
                                <div class="contact-info">
                                    <div class="icon">
                                        <i class="icofont icofont-email"></i>
                                    </div>
                                    <div class="text"><a>abc@hardcipher.com</a></div>
                                </div>
                            </li>
                            <li>
                                <div class="contact-info">
                                    <div class="icon">
                                        <i class="icofont icofont-whatsapp"></i>
                                    </div>
                                    <div class="text">9711855888</div>
                                </div>
                            </li>
                        </ul>
                        <ul class="social-buttons style2">
                            <li><a href="https://www.facebook.com/hardcipher"><i class="icofont icofont-facebook" ></i></a></li>
                            <li><a href="https://www.instagram.com/hardcipher"><i class="icofont icofont-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8 offset-md-2 text-center">
                    <p>&copy; 2021 Hardcipher. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Footer ends-->
