<div class="page-wrapper">
    <app-header></app-header>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
          <h1> Our Services </h1>
          <br><br>
        </div>

        <div class="row">
            <div class="column">
                <h3> Web Development</h3>
                <p>Lorem Ipsum is simply dummy text of the printing <br>
                    and typesetting industry. Lorem Ipsum has been the<br>
                     industry's standard dummy text ever since the 1500s,<br>
                      when an unknown printer took a galley of type and scrambled
                      it to make a type specimen book.</p>
            </div>

            <div class="column">
                 <h3> Brand Marketing </h3>
                 <p>Lorem Ipsum is simply dummy text of the printing <br>
                    and typesetting industry. Lorem Ipsum has been the<br>
                     industry's standard dummy text ever since the 1500s,<br>
                      when an unknown printer took a galley of type and scrambled
                      it to make a type specimen book.</p>
            </div>
            <div class="column">
                <h3> Graphic Designing </h3>
                <p>Lorem Ipsum is simply dummy text of the printing <br>
                    and typesetting industry. Lorem Ipsum has been the<br>
                     industry's standard dummy text ever since the 1500s,<br>
                      when an unknown printer took a galley of type and scrambled
                      it to make a type specimen book.</p>
            </div>
            <div class="column">
                <h3> Mobile development </h3>
                <p>Lorem Ipsum is simply dummy text of the printing <br>
                    and typesetting industry. Lorem Ipsum has been the<br>
                     industry's standard dummy text ever since the 1500s,<br>
                      when an unknown printer took a galley of type and scrambled
                      it to make a type specimen book.</p>
            </div>
            <div class="column">
                <h3> Mobile development </h3>
                <p>Lorem Ipsum is simply dummy text of the printing <br>
                    and typesetting industry. Lorem Ipsum has been the<br>
                     industry's standard dummy text ever since the 1500s,<br>
                      when an unknown printer took a galley of type and scrambled
                      it to make a type specimen book.</p>
            </div>
            <div class="column">
                <h3> Mobile development </h3>
                <p>Lorem Ipsum is simply dummy text of the printing <br>
                    and typesetting industry. Lorem Ipsum has been the<br>
                     industry's standard dummy text ever since the 1500s,<br>
                      when an unknown printer took a galley of type and scrambled
                      it to make a type specimen book.</p>
            </div>
          </div>
    </div>

    <div class="container">
        <div class="row find">
            <div class="col-lg-3">
                <h2>Ready to find out more ?</h2>
            </div>
            <div class="col-sm-12">
                <p>Lorem Ipsum is simply dummy text of the printing
                    and typesetting industry. Lorem Ipsum has been the
                     industry's standard dummy text ever since the 1500s,
                      when an unknown printer took a galley of type and scrambled
                      it to make a type specimen book.
                      Lorem Ipsum is simply dummy text of the printing
                      and typesetting industry. Lorem Ipsum has been the
                       industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled
                        it to make a type specimen book.
                        Lorem Ipsum is simply dummy text of the printing
                        and typesetting industry. Lorem Ipsum has been the
                         industry's standard dummy text ever since the 1500s,
                          when an unknown printer took a galley of type and scrambled
                          it to make a type specimen book.
                          Lorem Ipsum is simply dummy text of the printing
                          and typesetting industry. Lorem Ipsum has been the
                           industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled
                            it to make a type specimen book.</p>
            </div>
        </div>
    </div>
<app-footer></app-footer>
</div>