<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="page-wrapper">
    <app-header></app-header>
    <br>
    <br>
    <br>
  <div class="container">
    <h2 > Contact Us </h2>
    <br>
    <form>
      <div class="w3-row-padding">
        <div class="w3-half">
          <label style="text-align: center; color: white;">First Name *</label>
          <input style="background-color: rgb(26,43,109);" class="w3-input" type="text">
        </div>
        <div class="w3-half">
          <label style="text-align: center; color: white;">Last Name *</label>
          <input style="background-color: rgb(26,43,109);" class="w3-input" type="text">
        </div>
     </div>
     <div class="w3-row-padding">
       <div class="w3-half">
         <label style="text-align: center; color: white;">Email *</label>
         <input style="background-color: rgb(26,43,109);" class="w3-input" type="text">
       </div>
       <div class="w3-half">
         <label style="text-align: center; color: white;">Department</label>
         <select  class="w3-select" name="option"style="color: white;">
          <option value="" disabled selected>--</option>
          <option value="1">Development</option>
          <option value="2">Marketing</option>
          <option value="3">Designing</option>
          <option value="4">Other</option>
         </select> 
       </div>
     </div>
     <div class="w3-row-padding">
       <div class="w3-rest">
        <label style="text-align: center; color: white; margin: 0 8px;">Message *</label>
        <input style="background-color: rgb(26, 43, 109); margin: 0 8px;" class="w3-input" type="text">
       </div> 
     </div>
     <br>

     <div class="button">
       <div class="center">
        <button type="button" class="btn btn-primary btn-block">Submit</button>     
       </div>
     </div>
      
    <br>
    <br>
   </form>
 </div>   
 <br>
 <br>
 <br>     
  <app-footer></app-footer> 
</div>